---
import Layout from "../layouts/Layout.astro";
---

<Layout title="halaman 1 | Kelompok 3">
    <main class='bg-[url("/indo.jpg")] bg-cover justify-center items-center text-center gap-14 h-screen flex'>
        <div>
            <h1>1. Konsep Negara</h1>
        </div>
    </main>
</Layout>