---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homepage | Kelompok 3" >
    <div class='bg-[url("/indo.jpg")] bg-cover justify-center items-center text-center gap-14 h-screen flex'>
        <div class='list-none backdrop-blur-lg flex p-28 text-2xl bg-rose-800/40 flex-col gap-4 text-slate-50 rounded-md transition-[background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1)] shadow-md'>
            <h1 class='text-3xl font-bold'>Pancasila Sebagai Dasar Negara</h1>
            <ul class='flex mt-6 flex-col text-xl gap-2'>
                <li>1. Konsep Negara</li>
                <li>2. Tujuan Negara</li>
                <li>3. Kajian Pancasila sebagai Dasar Negara</li>
            </ul>
        </div>
        <div class='flex shadow-md text-rose-800 flex-col text-xl bg-slate-50/40 gap-4 backdrop-blur-lg p-14 rounded-xl'>
            <h1>Oleh : </h1>
            <p>Arista Ranfat Sabastian</p>
            <p>Fahmi Nabil Maulana</p>
        </div>
        <a class="text-2xl font-sans absolute right-10 p-2 bg-rose-800/90 rounded-md backdrop-blur-md hover:border-2 hover:border-rose-950 hover:bg-slate-50/20 hover:text-rose-950 transition-all text-slate-50 ease-in-out" href="/halaman1">Next</a>
    </div>    
</Layout>
